@model AquaFreeWeb.Models.Refresco

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Refresco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sabor" class="control-label"></label>
                <input asp-for="Sabor" class="form-control" />
                <span asp-validation-for="Sabor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Unidad" class="control-label"></label>
                <input asp-for="Unidad" class="form-control" />
                <span asp-validation-for="Unidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tamanio" class="control-label"></label>
                <select asp-for="Tamanio" class="form-control">
                    <option value="Grande">Grande</option>
                    <option value="Normal">Normal</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Pequeño">Pequeño</option>
                </select>
                <span asp-validation-for="Tamanio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
